<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" id="form">
      <label for="bookid">book id:</label>
      <input type="text" name="" id="bookid" />
      <label for="name">name:</label>
      <input type="text" name="" id="name" />
      <button type="submit">Add</button>
    </form>
    <label for="content">content:</label>
    <textarea from="form" rows="10" cols="90"> </textarea>
    <p id="noti">...</p>
    <script>
      document.forms[0].onsubmit = (e) => {
        e.preventDefault();
        if (e.target.bookid.value === "") return show("bookid");
        if (e.target.name.value === "") return show("name");
        if (document.querySelector("textarea").value.trim() === "") return show("textarea");
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

        let urlencoded = new URLSearchParams();
        urlencoded.append("bookid", e.target.bookid.value);
        urlencoded.append("name", e.target.name.value);
        urlencoded.append("content", document.querySelector("textarea").value);

        let requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: urlencoded,
          redirect: "follow",
        };
        fetch("/api/books/addchapter", requestOptions)
          .then((res) => res.text())
          .then(show);
      };

      function show(s) {
        document.getElementById("noti").innerText = s;
        setTimeout(() => {
          document.getElementById("noti").innerText = "...";
        }, 1000);
      }
    </script>
  </body>
</html>
