<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <title>Book Library</title>
    <style>
      .appearance-none::-webkit-outer-spin-button,
      .appearance-none::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input::-webkit-calendar-picker-indicator {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="bg-gray-200 min-h-screen pt-2 font-mono">
      <div class="container mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
          <h2 class="text-2xl text-gray-900">Account Setting</h2>
          <form class="mt-6 border-t border-gray-400 pt-4" autocomplete="off">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name"
                  >name</label
                >
                <input
                  class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
                  id="name"
                  type="text"
                  placeholder="Enter book name"
                  required
                />
              </div>
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="author"
                  >author</label
                >
                <input
                  class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
                  id="author"
                  type="text"
                  placeholder="Enter author"
                  required
                />
              </div>
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="image"
                  >image</label
                >
                <input
                  class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
                  id="image"
                  type="url"
                  placeholder="Enter image url"
                  required
                />
              </div>
              <div class="w-full md:w-full px-3 mb-6">
                <label
                  class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 appearance-none"
                  for="price"
                  >price</label
                >
                <input
                  class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
                  id="price"
                  type="number"
                  placeholder="Enter author"
                  required
                />
              </div>
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description"
                  >Description</label
                >
                <textarea
                  id="description"
                  name="description"
                  class="bg-gray-100 rounded-md border leading-normal w-full py-2 px-3 shadow-inner border border-gray-400 font-medium focus:outline-none focus:bg-white"
                  rows="15"
                  placeholder="Enter the description"
                  required
                ></textarea>
              </div>
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category"
                  >category</label
                >
                <div class="flex-shrink w-full inline-block">
                  <input
                    class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
                    id="category"
                    type="text"
                    placeholder="Enter category"
                    list="categories"
                  />
                  <datalist id="categories">
                    <% categories.forEach(category=>{ %>
                    <option><%=category.name%></option>
                    <%})%>
                  </datalist>
                </div>
                <div class="flex justify-between w-full mt-3 items-start">
                  <p id="out" class="mr-6"></p>
                  <button
                    class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
                    type="button"
                    id="add-btn"
                  >
                    add
                  </button>
                </div>
              </div>
            </div>
            <div class="flex justify-end w-full">
              <button
                class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
                type="submit"
              >
                submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      var list = JSON.parse(`<%-JSON.stringify(categories)%>`);
      var categories = [];
      var names = [];
      var out = document.getElementById("out");
      var options = document.querySelector("datalist").options;
      var category = document.getElementById("category");

      //add event
      document.getElementById("add-btn").onclick = () => {
        let selected = list.find((x) => x.name === category.value);
        if (!selected || categories.includes(selected._id)) return;
        categories.push(selected._id);
        names.push(selected.name);
        out.innerText = names;
      };

      //submit event
      document.forms[0].onsubmit = (e) => {
        e.preventDefault();
        if (categories.length === 0) return;
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          name: e.target.name.value,
          author: e.target.author.value,
          image: e.target.image.value,
          description: e.target.description.value,
          categories,
          price: e.target.price.value,
        });

        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: raw,
          redirect: "follow",
        };

        fetch("/api/book/add", requestOptions)
          .then((res) => res.text())
          .then((msg) => {
            alert(msg);
            console.log(`Thêm sách "${e.target.name.value}" thành công`);
            e.target.reset();
            out.innerText = "";
          });
      };
    </script>
  </body>
</html>
