<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <title>Book Library</title>
  </head>
  <body>
    <div class="bg-gray-200 min-h-screen pt-2 font-mono">
      <div class="container mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
          <h2 class="text-2xl text-gray-900">Add category</h2>
          <form class="mt-6 border-t border-gray-400 pt-4" autocomplete="off">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name"
                  >name</label
                >
                <input
                  class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
                  id="name"
                  name="name"
                  type="text"
                  placeholder="Enter category name"
                  required
                />
              </div>
              <div class="w-full md:w-full px-3 mb-6">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description"
                  >Description</label
                >
                <textarea
                  id="description"
                  name="description"
                  class="bg-gray-100 rounded-md border leading-normal w-full py-2 px-3 shadow-inner border border-gray-400 font-medium focus:outline-none focus:bg-white"
                  rows="15"
                  placeholder="Enter the description"
                  required
                ></textarea>
              </div>
              <div class="flex justify-end w-full">
                <button
                  class="appearance-none bg-gray-200 text-gray-900 px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
                  type="submit"
                >
                  submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      document.forms[0].onsubmit = (e) => {
        e.preventDefault();
        let myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

        let urlencoded = new URLSearchParams();
        urlencoded.append("name", e.target.name.value);
        urlencoded.append("description", e.target.description.value);

        let requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: urlencoded,
          redirect: "follow",
        };
        console.log(requestOptions.body.toString());
        fetch("/api/category/add", requestOptions)
          .then((res) => res.text())
          .then((msg) => {
            alert(msg);
            e.target.reset();
          });
      };
    </script>
  </body>
</html>
